{% extends 'base.html' %}

    
    
{% block content %}

    <div class="container">
    <h1>Post_App<h1>
        <table class="table">
            <thead>
             <tr>
              <th scope="col">author</th>
              <th scope="col">title</th>
              <th scope="col">create_at</th>
             </tr>
            </thead>
            {% for col in post %}
            <tbody>
            <td>{{col.author}}</td>
            <td><a href="{% url 'detail' col.pk %}">{{col.subject}}</a></td>
            <td>{{col.create_time}}</td>
                </tbody>
            {% endfor %}
            </table>
            <a href="{% url 'new' %}">글 쓰기</a>
            </div>

{% endblock content %}